create
profileName {{ was_profile_name_was }}{{ host_number }}
profilePath {{ was_profiles_dir }}/{{ was_profile_name_was }}{{ host_number }}
hostname server{{ host_number }}
cellName {{ was_cell_name_was }}
nodeName {{ was_node_name_was }}{{ host_number }}
ndtopology false
dbType {{ was_db_type }}
dbJDBCClasspath {{ was_db_jdbc_classpath }}
templatePath {{ was_template_path }}/managed.wbiserver
